
[*.{cs,vb}]
#### —тили именовани€ ####

# ѕравила именовани€

dotnet_naming_rule.interface_should_be_начинаетс€_с_i.severity = suggestion
dotnet_naming_rule.interface_should_be_начинаетс€_с_i.symbols = interface
dotnet_naming_rule.interface_should_be_начинаетс€_с_i.style = начинаетс€_с_i

dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.severity = suggestion
dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.symbols = типы
dotnet_naming_rule.типы_should_be_всечастиспрописнойбуквы.style = всечастиспрописнойбуквы

dotnet_naming_rule.не_€вл€ющиес€_полем_члены_should_be_всечастиспрописнойбуквы.severity = suggestion
dotnet_naming_rule.не_€вл€ющиес€_полем_члены_should_be_всечастиспрописнойбуквы.symbols = не_€вл€ющиес€_полем_члены
dotnet_naming_rule.не_€вл€ющиес€_полем_члены_should_be_всечастиспрописнойбуквы.style = всечастиспрописнойбуквы

# —пецификации символов

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.типы.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.типы.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.типы.required_modifiers = 

dotnet_naming_symbols.не_€вл€ющиес€_полем_члены.applicable_kinds = property, event, method
dotnet_naming_symbols.не_€вл€ющиес€_полем_члены.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.не_€вл€ющиес€_полем_члены.required_modifiers = 

# —тили именовани€

dotnet_naming_style.начинаетс€_с_i.required_prefix = I
dotnet_naming_style.начинаетс€_с_i.required_suffix = 
dotnet_naming_style.начинаетс€_с_i.word_separator = 
dotnet_naming_style.начинаетс€_с_i.capitalization = pascal_case

dotnet_naming_style.всечастиспрописнойбуквы.required_prefix = 
dotnet_naming_style.всечастиспрописнойбуквы.required_suffix = 
dotnet_naming_style.всечастиспрописнойбуквы.word_separator = 
dotnet_naming_style.всечастиспрописнойбуквы.capitalization = pascal_case

dotnet_naming_style.всечастиспрописнойбуквы.required_prefix = 
dotnet_naming_style.всечастиспрописнойбуквы.required_suffix = 
dotnet_naming_style.всечастиспрописнойбуквы.word_separator = 
dotnet_naming_style.всечастиспрописнойбуквы.capitalization = pascal_case
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4

[*.cs]
csharp_style_namespace_declarations = file_scoped:silent